.nav {
    text-align: center;
    padding: 50px;
}
.skip {
    background-color: #ffbf00;
    padding: 5px;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: -999px;
}
.skip:focus {
    left: 10px;
}


.dropbtn {
    background-color: #161819;
    color: #ffffff;
    padding: 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #26579c;
}
.dropdown {
    position: relative; 
    display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}
.dropdown-content a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #dddddd;}
.show {display: block;}

body {
    background-color: #c6d2e9;
    font-family: 'Dancing Script', cursive;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Rethink Sans', sans-serif;
    font-size: 20px;
} 

.title {
    text-align: center;
}

.first {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border: 1px solid #efefef;
    margin: 20px;
}
.reduce {
    padding: 20px; 
    background-color: #efefef;
    width: 500px;
    height: auto;
    border-radius: 8px;
}
.reducetext {
    max-width: 600px;
    padding: 30px; 
    justify-content: space-between;
    background-color: #efefef;
}

@media (max-width: 780px) {
    .first {
        flex-direction: column;
        text-align: center;
    }

    .reducetext {
        max-width: 100%;
    }
    .reduce {
        max-width: 300px;
    }
    .two {
        flex-direction: column;
        align-items: flex-start;
    }
    .animaltest1 {
        flex-direction: column;
        align-items: flex-start;
    }
    .cleanupimg {
        margin: 20px;
        }
}
/* first part */


.one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}

.cleanuptxt2 {
    flex-basis: 100%; 
    padding: 20px; 
    background-color: #acb2d2;
    width: 500px;
    height: auto;
    border-radius: 8px;
    margin: 10px;
}

.cleanupimg {
    padding: 20px; 
    width: 100%;
    height: auto;
    margin: 10px;
}
.cleanuptxt {
    flex-basis: 100%; 
    background-color: #acb2d2;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

/* this is the end of this par */

.two {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.two div {
    margin: 10px;
}
.two img {
    max-width: 100%;
    border-radius: 8px; 
    margin-right: 20px; 
}
.two a {
    color: #007BFF; 
    text-decoration: none; 
    font-weight: bold;
}
.two a:hover {
    text-decoration: underline;
}
/* this is the end of this part */

h1 {
    color: #333333;
    margin: 20px;
}
.animaltest1 {
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.animaltest1 div {
    flex-basis: 50%;
    margin: 10px;
}
.animaltest1 img {
    max-width: 100%;
    border-radius: 8px;
}

p {
    text-align: justify;
    color: #555555;
    padding: 20px;
}

/* end of this section */

.goodbadproducts {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badproduct  {
    flex: 1;
    margin: 20px;
}

.goodproduct, .badproduct{
    margin-bottom: 10px;
}

.animaltstimg {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    .badproduct, .goodproduct {
        margin: 20px; 
    }
}